*.aux 
*.bbl
*.blg 
*.glg 
*.glo 
*.gls 
*.idx 
*.ilg 
*.ind 
*.ist 
*.lof 
*.log 
*.lol 
*.lot 
*.out 
*.toc
bin
.metadata
*~
target/
.AppleDouble
.DS_Store
*.synctex.gz
*.aux
*.log
*.out
*out
*log
*aux
10_Use_Cases_ISO_29002.pdf
